@use "../Base/__utils.sass"
.nav-header
    @include _utils.displaysRow()
    margin: 5px
.logo
    @include _utils.displaysRow()
    h1
       color: #fff
       font-size: 1em
       margin-top: 20px    